.video_div {
    position: relative;
    align-items: center;
    height: 98%;
    margin: 5px 5px 0 5px;
    flex: 1 0 21%;
}

video {
    object-fit: cover;
}

#video {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

body {
    margin: 0 auto;
    background-color: black;
}