<!DOCTYPE html>
<html>

<head>
    <title>Agora Web Sample</title>
    <% include ../partials/ejs/head %>
</head>

<body>
    <div id="video" style="margin:0 auto;">
        <div id="agora_local" style="float:right;width:210px;height:147px;display:inline-block;"></div>
    </div>
    <% include ../partials/ejs/scripts %>
</body>

</html>